:root {
  --link: #000;
  --bg: #fcfbfa;
  --body: #333;
  --h3: #404248;
  --li: #eee;
  --p: #aaa;
}

html {
  background-color: var(--bg);
}
body {
  margin: 1.5in;
}
h1 {
  font-size: 180%;
}
h3 {
  color: var(--h3);
}
hr {
  border: 0;
  height: 0.25em;
  width: 100%;
}
li {
  list-style-type: none;
  margin: 1.8em 0;
  padding-left: 0.8em;
  border-left: 0.25em solid var(--li);
}
a {
  text-decoration: none;
  color: var(--link);
}
q {
  display: block;
}
p, q {
  color: var(--p);
  display: block;
}
p[itemprop="disambiguatingDescription"] {
  max-width: 400px;
  /* text-align: justify; */
  letter-spacing: 0.8px;
  line-height: 2em;
}
a[itemprop="sameAs"] {
  color: var(--p);
  text-decoration: underline;
  letter-spacing: 1px;
  margin-right: 8px;
}

@media (max-width: 400px) {
  p[itemprop="disambiguatingDescription"] {
    text-align: left;
  }
}
