html, body {
    margin: 0;
}

body {
    font-size: 18pt;
    font-family: -apple-system,BlinkMacSystemFont,sans-serif;
    -webkit-font-smoothing: antialiased;
    background: black;
    color: white;
    line-height: 2em;
    letter-spacing: 1.5px;
    margin: auto;
}

h1, h2, h3 {
    letter-spacing: -1.5px;
}

p, q, a, em, ul, ol {
	font-size: 16pt;
	text-decoration: none;
	font-weight: normal;
	max-width: 72ch;
}

header {
    padding: 2em;
}

p, a {
    line-height: 1.5;
    margin: 20px 0;
}
h4 {
    font-size: 24px;
    border-bottom: 1px solid white;
    width: min-content;
}
h4, h5 {
    font-size: 18px;
    font-variant-caps: all-petite-caps;
}

a[href] { color: white; text-decoration: none; }

sub {
    opacity: 0.63;
    vertical-align: baseline;
}

sub.block {
    display: block;
    margin-top: -20px;
    opacity: 0.3;
}

@media(max-width: 768px) {
    .block-when-small {
        display: block;
        margin-top: -0.5em;
        margin-bottom: 0.5em;
    }
}