html, body {
    margin: 0;
}

header {
    position: sticky;
    /* float: left; */
    top: 0;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: saturate(180%) blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    font-weight: bold;
    letter-spacing: -2px;
    padding: 35px 0;
    margin-left: 2em;
}

.social {
    margin-right: 35px;
}

.social > a {
    /* background: #fff; */
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 10px;
}

.tag {
    padding-right: 10px;
}

body {
    font-size: 18pt;
    font-family: "Open Sans",-apple-system,BlinkMacSystemFont,sans-serif;
    -webkit-font-smoothing: antialiased;
    background: black;
    color: white;
    line-height: 20px;
    /* letter-spacing: 1.2px; */
    margin: auto;
}

.float-right {
    /* align-self: flex-end; */
    justify-self: right;
    margin-left: auto;
}

h1 {
    font-size: 72pt;
    font-weight: 600;
    color: black;
}

h1, h2, h3 {
    letter-spacing: -1.5px;
}

p, q, a, em, ul, ol {
	font-size: 16pt;
	text-decoration: none;
	font-weight: normal;
	/* max-width: 72ch; */
}

p, a {
    line-height: 1.5;
    margin: 20px 0;
}
h4 {
    font-size: 24px;
    border-bottom: 1px solid white;
    width: min-content;
}
h4, h5 {
    font-size: 18px;
    font-variant-caps: all-petite-caps;
}

a[href] { color: white; text-decoration: none; }

sub {
    /* opacity: 0.63; */
    color: #888;
    vertical-align: baseline;
}

sub.block {
    display: block;
    margin-top: -20px;
    color: #444;
    padding: 20px 0;
}

sub.header {
    font-size: 32pt;
}

@media(max-width: 768px) {
    .block-when-small {
        display: block;
        margin-top: -0.5em;
        margin-bottom: 0.5em;
    }
}