html, body {
    margin: 0;
}

header {
    position: sticky;
    /* float: left; */
    top: 0;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: saturate(180%) blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    font-weight: bold;
    letter-spacing: -2px;
    /* padding: 35px 0; */
    margin-left: 2rem;
}

.social {
    margin-right: 35px;
}

.social > a {
    /* background: #fff; */
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 24pt;
}

.tag {
    vertical-align: sub;
    padding-right: 10px;
}

body {
    font-size: 18pt;
    font-family: "Open Sans",-apple-system,BlinkMacSystemFont,sans-serif;
    -webkit-font-smoothing: antialiased;
    background: black;
    color: white;
    line-height: 20px;
    /* letter-spacing: 1.2px; */
    margin: auto;
}

.float-right {
    /* align-self: flex-end; */
    justify-self: right;
    margin-left: auto;
}

.item-container {
    padding-bottom: 10px;
    display: block;
    flex-direction: 'row';
}

@media(min-width: 900px) {
    .item-container {
        display: flex;
        flex-direction: 'row';
        align-items: 'center';
    }
}

h1 {
    font-size: 72pt;
    font-weight: 600;
    /* color: black; */
    line-height: 2em;
}

h1, h2, h3 {
    /* letter-spacing: -1.5px; */
    line-height: 1em;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
    letter-spacing: -0.07em;
}

p, q, a, em, ul, ol {
	font-size: 16pt;
	text-decoration: none;
	font-weight: normal;
	/* max-width: 72ch; */
}

code {
    background: #444;
    padding: 4px 8px;
    border-radius: 4px;
}
pre {
    background-color: #444;
    padding: 8px;
    border-radius: 4px;
}
pre > code {
    background: none;
    line-height: 1.25em;
}

ul { padding-top: 0; margin-block-start: 0; }
ul > li {
    padding-block-start: 0.5rem;
    padding-block-end:   0.5rem;
}

p, a {
    line-height: 1.5;
    margin: 1rem 0;
}
h4 {
    font-size: 24px;
    border-bottom: 1px solid white;
    width: min-content;
}
h4, h5 {
    font-size: 18px;
    font-variant-caps: all-petite-caps;
}

a[href] { color: white; text-decoration: none; }
a[href].underline { text-decoration: underline;}

sub, a[href].sub {
    /* opacity: 0.63; */
    color: #888;
    vertical-align: baseline;
}
a[href].sub {
    margin-top: 24px;
    font-size: 18px;
}


sub.block {
    display: block;
    margin-top: -20px;
    color: #888;
    padding: 20px 0;
}

sub.header {
    font-size: 32pt;
}

@media(max-width: 900px) {
    .block-when-small {
        display: block;
        /* margin-top: -0.5em; */
        margin-bottom: 0.25rem;
    }
}

.leaves-space-for-tags {
    width: calc(100% - 400px);
}

/* register url */
form {
    background: #181818;
    padding: 2rem;
    border-radius: 1rem;
}
form > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form > div > label {
    font-weight: bold;
    padding-right: 2rem;
}
form > div > input,
form > div > textarea {
    padding: 0.8rem;
    flex-grow: 1;
    margin: 0.5rem 0;
}
input[type=submit] {
    padding: 1rem 0;
    /* background: #222; */
    letter-spacing: 2px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
input[type=submit]:hover {
    transition: background 0.2s ease-in-out;
    background: #282828;
    cursor: pointer;
}

input, textarea {
    background: transparent;
    outline: none;
    font-size: 16pt;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.83);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 0.25rem;
    padding: 0.25rem;
}

body {
    margin-bottom: 1.5in;
}