@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #050505;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
#__next {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
nav {
  display: flex;
}
header,
footer {
  font-size: 24px;
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}
header a,
footer a {
  text-decoration: none;
}
@media (min-width: 900px) {
  body {
    font-size: 18pt;
  }
}
img {
  max-width: 100%;
}
ol,
ul {
  line-height: 1.75em;
}
