html, body {
  margin: 0;
  padding: 0;
}

body {
  color: var(--body);
}

h1, h2, h3, h4, h5 {
  line-height: 1em;
  margin: 1rem 0;
  letter-spacing: 3px;
  font-weight: 300;
}

.underline {
  text-decoration: underline;
}
