body {
	margin: 0;
	padding: 3%;
	background: black;
	line-height: 2em;
	font-weight: 300;
	color: #9e9e9e;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
h1, h2, h3, h4, h5 {
	letter-spacing: -0.4px;
	font-size: 130%;
}

img {
	display: block;
}
.tj {
	text-align: justify;
}
nav {
	display: flex;
	align-items:center;
	justify-content:space-between;
}
h2, h3 {
	font-weight: 300;
	font-size: 160%;
	text-transform: capitalize;
	color: #fff;
}
main {
	margin: auto;
	margin-top: 70px;
}
main > * {
	margin: auto;
}
main > h1, main > h2, main > h3, main > h4 {
	padding: 1em 0;
	max-width: 64ch;
}
p, q, a, em, ul {
	font-size: 16pt;
	text-decoration: none;
	font-weight: normal;
	max-width: 72ch;
}
a {
	color: #7b7b7b;
	padding-bottom: 0.1em;
	border-bottom: 1px solid #333;
}
em {
	color: #2DF9CB;
}
strong {
	font-weight: normal;
	color: #f0f0f0;
}
p, em {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	line-height: 2em;
}
div > div p {
	margin-block-end: 4px;
	opacity: 0.6;
}

.card {
	padding: 16px;
	margin: 16px;
	border: 6px double #655109;
	border-radius: 4px;
	letter-spacing: 2px;
}
.card * { margin: 0 }
